# Data Science
pandas
numpy
scikit-learn
scipy

# Deep Learning & NLP
torch
transformers
accelerate
datasets

# Portfolio Optimisation
cvxpy

# Financial Data
yfinance
exchange-calendars

# Visualization
matplotlib
seaborn

# Jupyter
jupyter
ipykernel

# Web Scraping
selenium
undetected-chromedriver

# GDELT API
gdeltdoc

# Language Detection
lingua-language-detector

# Utilities
python-dotenv
tqdm
